/*img{

	width: 400px;
	margin-left: -30px;
	margin-top: 50%;
}

@media screen and (max-width: 576px) {
  img {
    margin-left: 90%;
	box-shadow: 20px 20px 60px grey;
	margin-top: 50%;
	margin-left: 25%;
	width: 300px;
  }
}

@media screen and (max-width:  768px) {
	img {
		margin-left: 90%;
		box-shadow: 20px 20px 60px grey;
		margin-top: 30%;
		margin-left: 30%;
		width: 300px;
	}
}

@media screen and (max-width:  992px) {
	img {
		margin-left: 90%;
		box-shadow: 20px 20px 60px grey;
		margin-top: 30%;
		margin-left: 30%;
		width: 300px;
	}
}

@media screen and (max-width:  1200px) {
	img {
		margin-left: 90%;
		box-shadow: 20px 20px 60px grey;
		margin-top: 20%;
		margin-left: 25%;
		width: 300px;
	}
}

*/

body {
	text-align: center;
}

img {
	width: 400px;
margin-left: -30px;
box-shadow: 20px 20px 60px grey;
margin-top: 5%;
}

button {
	background: transparent;
    margin-right: 20px;
    float: right;
    margin-top: 90px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #26ae60;
    color: #26ae60;
}
.welcome {
	 margin-top: 40%;
}
.others {
	 margin-top: 10%;
}


@media screen and (max-width: 576px) {
	img {
		width: 400px;
    	/* margin-left: 0px; */
    	box-shadow: 20px 20px 60px grey;
    	margin-top: 5%;
	}

	.welcome {
		 margin-top: 90px;
	}
}


@media screen and (max-width: 768px){
	.welcome {
		margin-top: 60px;
	}

	button {
		margin-top: 80px;
	}
}

@media screen and (max-width: 992px) {
	.welcome {
		margin-top: 10px;
	}

	.others {
		margin-top: 5%;
	}
}

/*@media screen and (max-width: 1366px) {

}*/